*{

    box-sizing: border-box;
}

body {

    background: linear-gradient( to top right, rgb(213, 213, 213), rgb(66, 65, 65));
    padding-top: 20px;
}

button {

    cursor: pointer;
}

.grid {

    max-width:900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgb(47, 47, 47);
    border-radius: 15px;

}

.bem-vindos {

   width:90%;
   margin: auto;
}

.bem-vindos h1 {

    color: rgb(3, 190, 190);
    font-size: 35px;
    line-height: 20px;
    text-shadow: 2px 2px 2px rgb(234, 234, 234);
}

.bem-vindos p {

    font-size: 20px;
    line-height: 20px;
    text-shadow: 1px 1px 1px rgb(244, 243, 243);
}

.bem-vindos p:first-of-type {
    
    color: rgb(49, 163, 1);

  }

.info {

    display: flex;
    width:100%;
    margin: auto;
    justify-content: center;
    color: white;

}

.info p {

    line-height: 25px;
}

.info small {

    margin-left: 5px;
}

.info i {

    font-size: 28px;
}

.info span {

    font-size: 25px;
}

.inscricao {

    width: 50%;
    background-color: rgb(3, 169, 169);
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    border-radius:15px 0 0 15px;
    box-shadow: 2px 2px 2px rgb(38, 8, 121);
}

.inscricao button {

    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: rgb(158, 232, 47);
    box-shadow: 2px 2px 2px rgb(2, 134, 28);
    transition: 1s;
    border: none;
    border-radius: 10px;
    color: white;
}


.inscricao button:hover {

    background-color: rgb(83, 184, 0);
}

.nos {

    width: 50%;
    background-color: rgb(3, 200, 200);
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 0 15px 15px 0;
    box-shadow: 2px 2px 2px rgb(47, 1, 175);

}